<div class="row">
</div>
<div id="myCarousel" class="carousel slide">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
    <li data-target="#myCarousel" data-slide-to="4"></li>
    <li data-target="#myCarousel" data-slide-to="5"></li>
    <li data-target="#myCarousel" data-slide-to="5"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">             
      <div class="container">
        <div class="row sub-main-cont-carousel-quote">          
            <div class="col-md-8 col-md-offset-2 quote-container-top border-container-blue">
             "The activity to be secure has not led man to security, to happiness, to wisdom.<br>
              It has led him to ever increasing confusion, conflict and misery.<br>
              There is a different activity which is not of the self, which must be sought out.<br>
              A different intelligence is needed to experience the Timeless."
          </div>
        </div>
      </div>
    </div>
    <div class="item">             
      <div class="container">
        <div class="row sub-main-cont-carousel-book">                  
          <div class="col-xs-8 col-md-offset-2 book-container border-container-red">
            <p>DB:  You said that the mind is universal, and is not located in our ordinary space, is not separate....
            <p>JK:  Yes, but there is a danger in saying this, the mind is universal, that is what some people say of the mind, and it has become a tradition..
            <p>DB:  One can turn it into an idea, of course.
            <p>JK:  That is just the danger of it; that is what I am saying.
            <p>DB:  Yes. But really the question is, we have to come directly in contact with this to make it real, Right?
            <p>JK:  That's it. We can only come into contact with it when the self is not.
            <br>To put it very simply, when the self is not, there is beauty, silence, space; then that intelligence, which is born of compassion, operates through the brain. It is very simple. 
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="container">
        <div class="row sub-main-cont-carousel-book">          
          <div class="col-md-8 col-md-offset-2 book-container border-container-blue">
            <p>DB: Yes. Would it be worth discussing the self, since the self is widely active?
            <p>JK: I know. That is our long tradition of many, many centuries.
            <p> DB: Is there some aspect of meditation which can be helpful here when the self is acting?
            <br>  
            You see, suppose a person says, 'all right, I am caught in the self, but I want to get out. But I want to know what I shall do?'
            <p>JK: No.
            <p>DB: I won't use the words 'what shall I do?' But what do you say?
            <p>JK: That is very simple. Is the observer different from the observed?
            <p>DB: Well, suppose we say, 'Yes, it appears to be different; then what?
            <p>JK: Is that an idea or an actuality?
          </div>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="container">
      <div class="row sub-main-cont-carousel-book">                  
        <div class="col-xs-8 col-md-offset-2 book-container border-container-grey">
            <p>DB: What do you mean?
            <p>JK: Actuality is when there is no division between the thinker and the thought.                      
            <p>DB: But suppose I say, ordinarily one feels that the observer is different from the observed. We begin there.
            <p>JK: We begin there. I'll show you. Look at it. Are you different from your anger, from your envy, from your suffering? You are not.
            <p>DB: At first sight it appears that I am, that I might try to control it. 
            <p> JK: You are that.
            <p>DB: Yes, but how will I see that I am that?
            <p>JK: You are your name. You are your form, your body. You are the reactions and actions. You are the belief, the fear, the suffering and pleasure. You are all that.  
          </div>
        </div>        
      </div>
    </div>
    <div class="item">
      <div class="container">
        <div class="row sub-main-cont-carousel-book">                  
          <div class="col-xs-8 col-md-offset-2 book-container border-container-orange">
            <p>DB: But the first experience is that I am here first, and that those are properties of me; they are my qualities which I can either have or not have. I might be angry, or not angry, I might have this belief, or that belief.
            <p>JK: Contradictory. You are all that.
            <p>DB: But you see, it is not obvious. When you say I am that, do you mean that I am that, and cannot be otherwise?
            <p>JK: No. At present you are that. It can be totally otherwise.
            <p>DB: Yes, OK. So I am all that. Rather than saying as I usually do that I am looking at those qualities - at least that I the observer, I admit that I am anger,
            but I feel that I as the observer, am not angry but an unbiased observer who is looking at anger.
            <p>JK: Of course.
          </div>
        </div>        
      </div>
    </div>
    <div class="item">
      <div class="container">
        <div class="row sub-main-cont-carousel-book">                  
          <div class="col-xs-8 col-md-offset-2 book-container border-container-blue"> 
            <p>DB: But you are telling me that this unbiased observer is the same as the anger he is looking at? 
            <p>JK: Of course. Like I analyse myself and the analyser is the analysed.   
            <p> DB: Yes. He is biased by what he analyses. <p>   
            <p>JK: Of course.
            <p>DB: So if I watch anger for a while I can see that I am very biased by the anger, so at some stage I say that I am one with that anger - right?
            <p>JK: No, not I am one with it, you are it.
            <p>DB: But that anger and I are the same, right?
            <p>JK: Yes. The observer is the observed. And when there is that actuality exists you have really eliminated altogether conflict. Conflict exists when I am separate from my quality.
          </div>
        </div>        
      </div>
    </div>
    <div class="item">
      <div class="container">
        <div class="row sub-main-cont-carousel-book">                  
          <div class="col-xs-8 col-md-offset-2 book-container border-container-blue"> 
            <p>DB: Yes that is because if I believe myself to be separate then I can try to change it but since I am that it is not trying to change itself and remain itself at the same time, right?
            <p>JK: Yes, that's right. But when the quality is me, the division has ended. Right?
          </div>
        </div> 
        <div class="row sub-main-cont-carousel-book">                  
          <div class="col-md-6 col-md-offset-3 book-container border-container-orange">
            <p>The Future Of Mankind
            <p>Brockwood Park
            <p>2nd Conversation With Prof. David Bohm
            <p>20th June 1983
          </div>           
        </div>  
      </div>
    </div>
  </div>
  <a class="left carousel-control btn-lg" href="#myCarousel" data-slide="prev"><span class="btn btn-lg glyphicon glyphicon-circle-arrow-left"></span></a>
  <a class="right carousel-control btn-lg" href="#myCarousel" data-slide="next"><span class="btn btn-lg glyphicon glyphicon-circle-arrow-right "></span></a>
</div><!-- /.carousel -->


