<br>
<div class="row-fluid footer">
  <div class="span12">
    <p>
    	<br>
    	Authoritation Template by Daniel Estevez <a href="https://github.com/daniboomerang/authtemplate"> get it on GitHub </a>
    	<br>
        <br>
    </p>  
  </div>
</div>

