  <% if !user_signed_in? && !admin_signed_in?  -%>       
    
      <div class="row" id="myFake">
      </div> 
  
      <div id="myCarousel" class="carousel slide">    
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>
          <li data-target="#myCarousel" data-slide-to="4"></li>
          <li data-target="#myCarousel" data-slide-to="5"></li>
          <li data-target="#myCarousel" data-slide-to="6"></li>
          <li data-target="#myCarousel" data-slide-to="7"></li>
        </ol>            
        <div class="carousel-inner">
          <div class="item active">             
            <div class="container">
              <div class="row sub-main-cont-carousel-quote">          
                <div class="col-md-8 col-md-offset-2 quote-container-top border-container-blue">
                  "In the space which thought creates around itself there is no love.
                  <br> This space divides man from man, and in it is all the becoming, the battle of life, the agony and fear.
                  <br> Meditation is the ending of this space, the ending of the me."
                </div>           
              </div>
            </div>
          </div>
          <div class="item">             
            <div class="container">
              <div class="row sub-main-cont-carousel-book">                  
                <div class="col-xs-8 col-md-offset-2 book-container border-container-orange">
                  <p>DB: So it is very deep. 
                  <p>JK: Very, very deep. Now can that suffering end? 
                  <p>DB: It cannot end by an action of the brain. 
                  <p>JK: By thought.
                  <p>DB: Because the brain is caught in suffering, and it cannot take an action to 
                  end its own suffering. 
                  <p>JK: Of course it cannot. That is why thought cannot end it. Thought has 
                  created it.      
                  <p>DB: Yes, thought has created it, and anyway it is unable to get hold of it. 
                  <p>JK: Thought has created the wars, the misery, the confusion. And thought 
                  has become prominent in human relationship.          
                   
                </div>           
              </div>
            </div>
          </div>
          <div class="item">
            <div class="container">
              <div class="row sub-main-cont-carousel-book">                  
                <div class="col-xs-8 col-md-offset-2 book-container border-container-grey">                
                  <p>DB: Yes, but I think people might agree with that and still think that just as 
                  thought can do bad things, it can do good things. 
                  <p>JK: No, thought cannot do good or bad. It is thought, limited. 
                  <p>DB: Thought cannot get hold of this suffering. That is, this suffering being in 
                  the physical and chemical conditioning of the brain, thought has no way of 
                  even knowing what it is. 
                  <p>JK: I mean, I lose my son and I am.... 
                  <p>DB: Yes, but by thinking, I don't know what is going on inside me. I can't 
                  change the suffering inside because thinking will not show me what it is. Now 
                  you are saying intelligence is perception. 
                  <p>JK: But we are asking, can suffering end? That is the problem. 
                  <p>DB: Yes, and it is clear that thinking cannot end it. 
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="container">
              <div class="row sub-main-cont-carousel-book">                  
                <div class="col-xs-8 col-md-offset-2 book-container border-container-red">                
                  <p>JK: Thought cannot do it. That is the point. If I have an insight into it... 
                  <p>DB: Now this insight will be through the action of the mind; through 
                  intelligence and attention. 
                  <p>JK: When there is that insight, intelligence wipes away suffering. 
                  <p>DB: You are saying, therefore, that there is a contact from mind to matter 
                  which removes the whole physical, chemical structure that keeps us going on 
                  with suffering. 
                  <p>JK: That's right. In that ending there is a mutation in the brain cells.
                  <p>DB: Yes, and that mutation just wipes out the whole structure that makes 
                  you suffer. 
                  <p>JK: That's right. Therefore it is as if I have been going along a certain 
                  tradition; I suddenly change that tradition and there is a change in the whole 
                  brain, which has been going North. Now it goes East. 
                </div>
              </div>        
            </div>
          </div> 
          <div class="item">
            <div class="container">
              <div class="row sub-main-cont-carousel-book">                  
                <div class="col-xs-8 col-md-offset-2 book-container border-container-blue">
                  <p>DB: Of course this is a radical notion from the point of view of traditional 
                  ideas in science, because, if we accept that mind is different from matter, then 
                  people would find it hard to say that mind would actually,.. 
                  <p>JK: Would you put it that mind is pure energy? 
                  <p>DB: Well, we could put it that way, but matter is energy too. 
                  <p>JK: But matter is limited; thought is limited. 
                  <p>DB: But we are saying that the pure energy of mind is able to reach into the 
                  limited energy of matter? 
                  <p>JK: Yes, that's right. And change the limitation.
                  <p>DB: Remove some of the limitation.
                  <p>JK: When there is a deep issue, problem, or challenge which you are 
                  facing.                 
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="container">
              <div class="row sub-main-cont-carousel-book">                  
                <div class="col-xs-8 col-md-offset-2 book-container border-container-orange">
                  <p>DB: We could also add that all the traditional ways of trying to do this 
                  cannot work.... 
                  <p>JK: They haven't worked. 
                  <p>DB: Well, that is not enough. We have to say, because people still might 
                  hope it could, that it cannot, actually.   
                  <p>JK: It cannot. <p>DB: Because thought cannot get at its own physical, chemical 
                  basis in the cells, and do anything about those cells. 
                  <p>JK: Yes. Thought cannot bring about a change in itself. 
                  <p>DB: And yet practically everything that mankind has been trying to do is 
                  based on thought. There is a limited area, of course, where that is all right, but 
                  we cannot do anything about the future of humanity from that usual approach.
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="container">
              <div class="row sub-main-cont-carousel-book">                  
                <div class="col-xs-8 col-md-offset-2 book-container border-container-red">
                  <p>JK: When one listens to the politicians, who are so very active in the world, 
                  they are creating problem after problem, and to them thought, ideals are the 
                  most important things. 
                  <p>DB: Generally speaking nobody knows of anything else. 
                  <p>JK: Exactly. We are saying that the old instrument which is thought is worn 
                  out, except in certain areas. 
                  <p>DB: It never was adequate, except in those areas. 
                  <p>JK: Of course. 
                  <p>DB: And, as far as history goes, man has always been in trouble. 
                  <p>JK: Man has always been in trouble, in turmoil, in fear. And facing all the 
                  confusion of the world, can there be a solution to all this?    
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="container">
              <div class="row sub-main-cont-carousel-book">                  
                <div class="col-xs-8 col-md-offset-2 book-container border-container-grey">     
                  <p>DB: That comes back to the question I would like to repeat. It seems there 
                  are a few people who are talking about it, and think perhaps they know, or 
                  perhaps they meditate, and so on. But how is that going to affect this vast 
                  current of mankind? 
                </div>
              </div>
              <div class="row sub-main-cont-carousel-book">                  
                <div class="col-md-6 col-md-offset-3 book-container border-container-orange">
                  <p>The Future Of Mankind
                  <p>Chapter 2: 2nd Conversation With Prof. David Bohm 
                  <p>Brockwood Park             
                  <p>20th June 1983
                </div>           
              </div>  
            </div>
          </div>  
        </div>
      </div>          
      <a class="left carousel-control btn-lg" href="#myCarousel" data-slide="prev"><span class="btn btn-lg glyphicon glyphicon-circle-arrow-left"></span></a>
      <a class="right carousel-control btn-lg" href="#myCarousel" data-slide="next"><span class="btn btn-lg glyphicon glyphicon-circle-arrow-right "></span></a>
    
    </div><!-- /.carousel -->
    
  
  <% else -%>
  
    <% if user_signed_in? -%>
  
      <div class="row" id="myFake">
      </div> 
  
      <div id="myCarousel" class="carousel slide">    
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>
          <li data-target="#myCarousel" data-slide-to="4"></li>
          <li data-target="#myCarousel" data-slide-to="5"></li>
          <li data-target="#myCarousel" data-slide-to="6"></li>
          <li data-target="#myCarousel" data-slide-to="7"></li>
          <li data-target="#myCarousel" data-slide-to="8"></li>
          <li data-target="#myCarousel" data-slide-to="9"></li>
        </ol>            
        <div class="carousel-inner">
          <div class="item active">             
            <div class="container">
              <div class="row sub-main-cont-carousel-quote">                  
                <div class="col-md-4 col-md-offset-4 quote-container border-container-orange">
                  "The ability to observe without evaluating is the highest form of intelligence."
                </div>           
              </div>
            </div>
          </div>
          <div class="item">             
            <div class="container">
              <div class="row sub-main-cont-carousel-book">                  
                <div class="col-xs-8 col-md-offset-2 book-container border-container-blue">
                  <p>JK: Let's begin. Would you consider that thought is a material process?
                  <p>DB: Yes. Well, some people might argue that it is both material, and something beyond material.
                  <p>JK: I know. I have discussed this. But it is not.    
                  <p>DB: How can we say that simply, to make it clear?
                  <p>JK: Because any movement of thought is a material process.
                  <p>DB: Well, we have to amplify this so that it is not a matter of authority. As an observation, one sees that thought is a material process. Now how are you going to see that?
                  <p>JK: How could one be aware that thought is a material process? I think that is fairly clear. There is an experience, an incident which is recorded, which becomes knowledge. And from that knowledge, thought arises and action takes place.                   
                </div>           
              </div>
            </div>
          </div>
          <div class="item">
            <div class="container">
              <div class="row sub-main-cont-carousel-book">                  
                <div class="col-xs-8 col-md-offset-2 book-container border-container-grey">
                  <p>DB: Yes. So we say that thought is that. It is still coming from the background. So are you saying that something new coming into being is not part of this process?
                  <p>JK: Yes, if there is to be something new, thought, as a material process, must end. Obviously.
                  <p>DB: And then it may take it up later.
                  <p>JK: Later, yes. Wait, see what happens later. So we say all action, reaction and action from that reaction is movement of matter.
                  <p>DB: Yes, very subtle movement of matter.
                  <p>JK: So as long as one's mind is within that area, it must be a movement of matter.                      
                  <br>So is it possible for the mind to go beyond reaction? That is the next step.
                  <br> As we said earlier one gets irritated, and that is the first reaction.
                  <br> Then the reaction to that, the second reaction, is `I must not be'. </p>             
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="container">
              <div class="row sub-main-cont-carousel-book">                  
                <div class="col-xs-8 col-md-offset-2 book-container border-container-red">
                  <p>Then the third reaction is, `I must control or justify'. So it is constantly action and reaction. Can one see that this is a continuous movement without an ending?
                  <p>DB: Yes.
                  <p>The reaction is continuous, but it seems at a certain moment to have ended, and the next moment appears to be a new movement.
                  <p>JK: But it is still reaction.
                  <p>DB: It is still the same but it presents itself differently.
                  <p>JK: It is exactly the same always...
                  <p>DB: But it presents itself as always different, always new.
                  <p>JK: Of course. That's just it. You say something, I get irritated, but that irritation is a reaction.
                </div>
              </div>        
            </div>
          </div> 
          <div class="item">
            <div class="container">
              <div class="row sub-main-cont-carousel-book">                  
                <div class="col-xs-8 col-md-offset-2 book-container border-container-blue">
                  <p>DB: Yes, it seems to be something suddenly new.
                  <p>JK: But it is not.                  
                  <p>DB: But one has to be aware of that, you see. Generally the mind tends not to be aware of it.     
                  <p>JK: We are sensitive to it, alert to the question. So there is an ending to reaction if one is watchful, attentive; if one understands not only logically, but having an insight into this reacting process, it can of course come to an end.
                  <p> That is why it is very important to understand this, before we discuss what is an empty mind, and if there is something beyond this, or whether in that very emptying of the mind there is some other quality.
                  <p>So is that empty mind a reaction? A reaction to the problems of pain and pleasure and suffering? An attempt to escape from all this into some state of nothingness?
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="container">
              <div class="row sub-main-cont-carousel-book">                  
                <div class="col-xs-8 col-md-offset-2 book-container border-container-orange">
                  <p>DB: Yes, the mind can always do that.                   
                  <p>JK: It can invent. Now we have come to the point of asking whether this quality of emptiness is not a reaction. Right, Sir? Before we go further, is it possible to have a mind that is really completely empty of all the things that thought has put together?
                  <p>DB: So that thought ceases to act.
                  <p>JK: That's it.
                  <p>DB: On the one hand, perhaps you could say that reaction is due to the nature of matter, which is continually reacting and moving. But then is matter affected by this insight?
                  <p>JK: I don't quite follow. Ah, I understand! Does insight affect the cells of the brain which contain the memory?
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="container">
              <div class="row sub-main-cont-carousel-book">                  
                <div class="col-xs-8 col-md-offset-2 book-container border-container-red">
                  <p>DB: Yes. The memory is continually reacting, moving, as does the air and the water, and everything around us.
                  <p>JK: After all, if I don't react physically I am paralysed. But to be reacting continuously is also a form of paralysis.
                  <p>DB: Well, the wrong kind of reaction! Reaction around the psychological structure. But assuming that the reaction around the psychological structure has begun in mankind, why should it ever stop? Because reaction makes another and another, and one would expect it to go on for ever, and that nothing would stop it.
                  <p>JK: Only insight into the nature of reaction ends psychological reaction.
                  <p>DB: Then you are saying that matter is affected by insight which is beyond matter.
                  <p>JK: Yes, beyond matter. So is this emptiness within the brain itself? Or is it something that thought has conceived as being empty? One must be very clear.               
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="container">
              <div class="row sub-main-cont-carousel-book">                  
                <div class="col-xs-8 col-md-offset-2 book-container border-container-grey">     
                  <p>DB: Yes. But whatever we discuss, no matter what the question is, thought begins to want to do something about it, because thought feels it can always make a contribution.                
                  <p>JK: Quite.
                  <p>JK: It can invent. Now we have come to the point of asking whether this quality of emptiness is not a reaction.
                  <br> Right, Sir? Before we go further, is it possible to have a mind that is really completely empty of all the things that thought has put together?
                  <p>DB: So that thought ceases to act.
                  <p>JK: That's it.
                  <p>DB: On the one hand, perhaps you could say that reaction is due to the nature of matter, which is continually reacting and moving. But then is matter affected by this insight?
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="container">
              <div class="row sub-main-cont-carousel-book">                  
                <div class="col-xs-8 col-md-offset-2 book-container border-container-blue">  
                  <p>JK: I don't quite follow. Ah, I understand! Does insight affect the cells of the brain which contain the memory?
                  <p>DB: Yes. The memory is continually reacting, moving, as does the air and the water, and everything around us
                  <p>JK: After all, if I don't react physically I am paralysed. But to be reacting continuously is also a form of paralysis.
                  <p>DB: Well, the wrong kind of reaction! Reaction around the psychological structure.
                  <p> But assuming that the reaction around the psychological structure has begun in mankind, why should it ever stop? Because reaction makes another and another, and one would expect it to go on for ever, and that nothing would stop it.
                  <p>JK: Only insight into the nature of reaction ends psychological reaction.
                </div>
              </div>
            </div>
          </div>    
          <div class="item">
            <div class="container">
              <div class="row sub-main-cont-carousel-book">                  
                <div class="col-xs-8 col-md-offset-2 book-container border-container-grey">  
                  <p>DB: Then you are saying that matter is affected by insight which is beyond matter.
                  <p>JK: Yes, beyond matter. So is this emptiness within the brain itself? Or is it something that thought has conceived as being empty? One must be very clear.                 
                </div>
              </div>
              <div class="row sub-main-cont-carousel-book">                  
                <div class="col-md-6 col-md-offset-3 book-container border-container-orange">
                  <p>The Ending of Time 
                  <p>Conversation with Prof. David Bohm
                  <p>Chapter 12: The Mind in The Universe  
                  <p>20th September 1980
                </div>           
              </div>  
            </div>
          </div>    
        </div>
      </div>          
      <a class="left carousel-control btn-lg" href="#myCarousel" data-slide="prev"><span class="btn btn-lg glyphicon glyphicon-circle-arrow-left"></span></a>
      <a class="right carousel-control btn-lg" href="#myCarousel" data-slide="next"><span class="btn btn-lg glyphicon glyphicon-circle-arrow-right "></span></a>
    </div><!-- /.carousel -->
    <% else -%>

      <div class="row" id="myFake">
      </div> 

      <div id="myCarousel" class="carousel slide">    
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>
          <li data-target="#myCarousel" data-slide-to="4"></li>
          <li data-target="#myCarousel" data-slide-to="5"></li>
          <li data-target="#myCarousel" data-slide-to="6"></li>
          <li data-target="#myCarousel" data-slide-to="7"></li>
        </ol>            
        <div class="carousel-inner">
          <div class="item active">             
            <div class="container">
              <div class="row sub-main-cont-carousel-quote">          
                <div class="col-md-8 col-md-offset-2 quote-container-top border-container-blue">
                  "All effort we now make issues from the desire for self-expansion;<br>
                  only when there is an effortless awareness can there be discovery and understanding, a perception of the true."
                </div>           
              </div>
            </div>
          </div>
          <div class="item">             
            <div class="container">
              <div class="row sub-main-cont-carousel-book">                  
                <div class="col-xs-8 col-md-offset-2 book-container border-container-orange">
                  <p>JK: Just a minute. I want to go into that a little bit. If I - no, I am not talking theoretically, personally. To me the idea of tomorrow doesn't exist psychologically.
                  <p>DB: Right.
                  <p>JK: That is, time is a movement either inwardly or outwardly. Right?
                  <p>DB: You mean psychological time?
                  <p>JK: Yes psychological time and time outwardly.
                  <p>DB: Yes. And certain relation between those two.
                  <p>JK: Now if the psychological time doesn't exist then there is no conflict, there is no me, there is no 'I' which is the origin of conflict. Do you understand sir what I am trying to get at? Outwardly we moved, evolved - this microphone and so on.
                </div>           
              </div>
            </div>
          </div>
          <div class="item">
            <div class="container">
              <div class="row sub-main-cont-carousel-book">                  
                <div class="col-xs-8 col-md-offset-2 book-container border-container-grey">                
                  <p>DB: And also in the inward physical structure.
                  <p>JK: The structure, everything. But psychologically we have also moved outwardly.
                  <p>DB: Yes, we have focused our life on the outward. Is that what you are saying?
                  <p>JK: Yes.
                  <p>DB: We have turned our attention to the outward.
                  <p>JK: No. I have extended my capacities outwardly.
                  <p>DB: Yes we have developed outwardly.
                  <p>JK: And inwardly it is the same movement outwardly.
                  <p>DB: Yes, whatever we do outwardly we do inwardly.
                  <p>JK: Yes. I don't know whether I am conveying this.               
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="container">
              <div class="row sub-main-cont-carousel-book">                  
                <div class="col-xs-8 col-md-offset-2 book-container border-container-red">                
                  <p>DB: I understand that in order to develop outwardly in a certain way through time and mechanism we have to adopt that inward structure.
                  <p>JK: Yes, now if there is no inward movement as time, moving, becoming more and more, then what takes place? You understand what I am trying to convey?
                  <p>DB: Yes. Well then if we say this whole movement of time ceases - whatever that means - the word 'ceases' is wrong because that is time.
                  <p>JK: Time ends.
                  <p>DB: Without the movement of time that the energy is...
                  <p>JK: You see the outer movement is the same as the inward movement.
                  <p>DB: Yes. Whatever you do outwardly you must do inwardly. That seems correct.
                  <p>JK: And it is the same movement.
                </div>
              </div>        
            </div>
          </div> 
          <div class="item">
            <div class="container">
              <div class="row sub-main-cont-carousel-book">                  
                <div class="col-xs-8 col-md-offset-2 book-container border-container-blue">
                  <p>DB: Yes. It is going around and around.             
                  <p>JK: Yes, yes, involving time.
                  <p>DB: Yes.
                  <p>JK: If that movement ceases then what takes place? I wonder if I am conveying anything. Are we talking nonsense? I don't think I am talking nonsense.
                  Sir, could we put it this way: we have never touched any other movement than the outer movement.
                  <p>DB: Yes, well generally anyway. We put most of our energy into the outward movements.
                  <p>JK: Outward, and psychologically is also outward.
                  <p>DB: Well it is the reflection of the outward movement.
                  <p>JK: We think it is inward but it is actually outward - right?
                  <p>DB: Yes.
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="container">
              <div class="row sub-main-cont-carousel-book">                  
                <div class="col-xs-8 col-md-offset-2 book-container border-container-grey">     
                  <p>JK: Now if that movement ends, as it must, then is there a really inward movement - movement not in terms of time?
                  <p>DB: You want to say: is there another kind of movement?
                  <p>JK: Yes.
                  <p>DB: Well it is the reflection of the outward movement.
                  <p>JK: We think it is inward but it is actually outward - right?
                  <p>DB: Yes.
                  <p>JK: Now if that movement ends, as it must, then is there a really inward movement - movement not in terms of time?
                  <p>DB: You want to say: is there another kind of movement?
                  <p>JK: Yes. 
                </div>
              </div>
            </div>      
          </div>    
          <div class="item">
            <div class="container">
              <div class="row sub-main-cont-carousel-book">                  
                <div class="col-xs-8 col-md-offset-2 book-container border-container-grey">     
                  <p>DB: It still moves but not in terms of time.
                  <p>JK: That's right.
                  <p>DB: We have to go into that. Could you go further.
                </div>
              </div>
              <div class="row sub-main-cont-carousel-book">                  
                <div class="col-md-6 col-md-offset-3 book-container border-container-orange">
                  <p>The Ending of Time
                  <p>1st Conversation with Prof. David Bohm 
                  <p>Chapter 1: The Roots Of Psychological Conflict              
                  <p>1st April 1980 Ojai, California
                </div>           
              </div>  
            </div>
          </div>  
        </div>
      </div>          
      <a class="left carousel-control btn-lg" href="#myCarousel" data-slide="prev"><span class="btn btn-lg glyphicon glyphicon-circle-arrow-left"></span></a>
      <a class="right carousel-control btn-lg" href="#myCarousel" data-slide="next"><span class="btn btn-lg glyphicon glyphicon-circle-arrow-right "></span></a>
    
      </div><!-- /.carousel -->

    <% end -%>
  <% end -%>     

  